n8n_workflow_ltx_qwen.json
{
  "name": "Generador de Tutoriales 40/60 con Qwen & Avatar Ghibli",
  "nodes": [
    {
      "parameters": {},
      "id": "e0e37bc9-4171-464a-a00d-587deafdf4ab",
      "name": "When clicking 'Execute Workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ 220, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5-coder:7b"
            },
            {
              "name": "prompt",
              "value": "Actúa como un profesor de programación experto. Escribe un fragmento de código útil en Python (máximo 8 líneas) que realice una tarea interesante. Responde únicamente con el código en Python, sin explicaciones ni markdown."
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-code-node",
      "name": "Generar Código con Qwen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 440, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5-coder:7b"
            },
            {
              "name": "prompt",
              "value": "=Escribe una frase corta en ESPAÑOL (máximo 25 palabras) explicando qué hace este código:\n{{ $json.response }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "ollama-script-node",
      "name": "Generar Narración en Español",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 660, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ltx-inference:8080/compose",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_id",
              "value": "default"
            },
            {
              "name": "code_text",
              "value": "={{ $('Generar Código con Qwen').item.json.response }}"
            },
            {
              "name": "narration_text",
              "value": "={{ $('Generar Narración en Español').item.json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "compose-split-node",
      "name": "Crear Video Split 40/60",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 880, 300 ]
    },
    {
      "parameters": {
        "url": "=http://ltx-inference:8080/download/{{ $json.job_id }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "f5f59047-9750-482a-bc9e-0498ec56e017",
      "name": "Descargar Video Final",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 1100, 300 ]
    }
  ],
  "connections": {
    "When clicking 'Execute Workflow'": {
      "main": [
        [
          {
            "node": "Generar Código con Qwen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Código con Qwen": {
      "main": [
        [
          {
            "node": "Generar Narración en Español",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Narración en Español": {
      "main": [
        [
          {
            "node": "Crear Video Split 40/60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Video Split 40/60": {
      "main": [
        [
          {
            "node": "Descargar Video Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
